<%= turbo_frame_tag dom_id(quest) do %>
  <div class="flex items-center justify-between border p-2 mb-2">
    <div class="flex items-center space-x-2">
      <%= form_with model: quest, method: :patch do |f| %>
        <%= f.check_box :is_done,
          checked: quest.is_done,
          class: "checkbox",
          data: { controller: "checkbox", action: "change->checkbox#submit" } %>
      <% end %>
      <div class="<%= quest.is_done ? "line-through text-gray-400" : "" %>">
        <%= quest.name %>
      </div>
    </div>

    <%= link_to quest_path(quest), data: { turbo_method: :delete }, class: "text-red-500" do %>
      Delete
    <% end %>
  </div>
<% end %>
